.archiveDirectory{
    
    &__search{
        padding: 30px 0;
        background: transparent url('../images/bg_red_dots.svg') left top repeat;
        background-size: 6px;
        
        @include tablet{
            padding: 50px 0;
        }

        .keywordSearch{
            margin-top: 35px;
        }
        
    }
    
    &__list{
        padding: 30px 0;
        
        @include tablet{
            padding: 110px 0 180px;
            background-image: url('../images/bg_circle.svg'), url('../images/bg_waves_red.svg'), url('../images/bg_red_squares.svg');
            background-position: top right, left top 50%, bottom 50px right;
            background-repeat: no-repeat;
            background-size: 30% auto, 35% auto, 20% auto;
            @media (min-width: 1300px) {
                background-size: 380px auto, 420px auto, 280px auto;
            }
        }
        
    }
    
}