.oneClick{
    
    background-color: $secondary_color;
    padding: 20px;
    @extend .clearfix;
    
    @include tablet{
        padding: 30px;
    }
    
    &__title{
        width: 100%;
        font-size: 55px;
        line-height: 0.9;
        text-align: center;
        margin-bottom: 30px;
        
        @media (min-width:500px){
            width: 100px;
            text-align: left;
            float: left;
            margin-bottom: 30px;
        }
        
    }
    
    &__shortcut{
        
        width: 100%;
        
        display: flex;
        flex-flow: wrap;
        
        @media (min-width:500px){
            width: calc(100% - 100px);
            float: left;
            padding-left: 30px;
        }
        
        a{
            display: block;
            width: 50%;
            color: $text_color;
            text-decoration: none;
            margin-bottom: 20px;
            padding: 0 6px;
            
            &:nth-child(n+5){
                    margin-bottom: 0;
            }
            
            @include laptop{
                width: 33.333%;
                
                &:nth-child(n+4){
                    margin-bottom: 0;
                }
                
            }
            
            .icon-container{
                width: 70px;
                height: 70px;
                margin: 0 auto;
                border-radius: 100%;
                position: relative;
                transition: all 0.3s ease;
                
                svg{
                    max-width: 75%;
                    max-height: 75%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    transition: all 0.3s ease;
                    
                    *{
                        transition: all 0.3s ease;
                    }
                    
                }
                
            }
            
            span{
                display: block;
                text-align: center;
                font-size: 25px;
                @extend .font-bold;
                
                @include tablet{
                    font-size: 28px;
                }
                
            }
            
            &:hover{
                
                .icon-container{
                    
                    background-color: #000;
                    
                    svg{
                        max-width: 55%;
                        max-height: 55%;
                        
                        *{
                            fill:#fff;
                        }
                        
                    }
                    
                }
                
            }
            
        }
        
    }
    
}