html, body {
	@extend .font-noyh, .font-light;
	font-size: $font_size_normal;
    line-height: 1.1;
}

h1, h2, h3 {
	@extend .font-noyh, .font-bold;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: $font_size_largest;
}

h2{    
	font-size: $font_size_larger;
}

h3{    
	font-size: $font_size_large;
}